<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669343392406-ff3k506bem0cl9u05jaeu95d7v5qvmla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669343392406-ff3k506bem0cl9u05jaeu95d7v5qvmla</string>
	<key>API_KEY</key>
	<string>AIzaSyA-5W3zmb-FnJdxsMYmH0Xzm7zugZEAYkE</string>
	<key>GCM_SENDER_ID</key>
	<string>669343392406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corebuddy.app</string>
	<key>PROJECT_ID</key>
	<string>mind-core-fitness-client</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-core-fitness-client.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669343392406:ios:3c715b31a3e79df36f58b7</string>
</dict>
</plist>